*{
    /* the command below is used to check on block borders*/
    border:0px solid red;
    margin:0px;
    font-family: "roboto";

    box-sizing: border-box;
    
}

.header{
    background-color: #1f2937;
    height: 80px;
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    font-size: 24px;
    color: #f9faf8;
}
.header .headermenu{
    font-size: 18px;
    color: #e5e7eb;
}
.hmenu{
    width: 380px;
    justify-content: space-between;
    display: flex;
}
.banner{
    background-color: #1f2937;
    height: 300px;
    padding-right: 250px;
    padding-left: 250px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}


.banner .bannertext {
    flex-wrap: wrap;
    width: 700px;
    height: 200px;
    display: flex;
    padding: 3px;
    color:#e5e7eb;
    margin-right: 10px;
    
}

h1{
    color: #f9faf8;
    font-size: 48px;
}

.banner .bannerimage{
    width: 700px;
    height: 200px;
    background-color: gray;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.hbutton{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
}

